[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unknown = { editable = true, path = "." }

[dev-packages]
black = "==21.5b1"
docutils = "*"
rstcheck = "*"
coverage = "*"
mypy = "*"
flake8 = "*"
flake8-black = "*"
flake8-isort = "*"
flake8-builtins = "*"
flake8-logging-format = "*"
flake8-blind-except = "*"
flake8-docstrings = "*"
pep8-naming = "*"
flake8-rst-docstrings = "*"
python-githooks = "*"

[requires]
python_version = "3.9"
